$x: 0.25em;
$page_width: 800px;

//
// COLORS
//
$color_green: #7fbf4d;
$color_red: #ff6347;
$color_yellow: #ffd700;
$color_blue: #4682b4;
$color_gray: #696969;
$color_quiet: #cccccc;

$color_gradient_diff: #1c191e;

$textcolor: #000;


//
// FONTS
//
$font_sans-serif: 'Open Sans', Tahoma, Verdana, Arial, Helvetica, sans-serif;
$font_serif: Palatino, 'Times New Roman', serif;

$font_default: $font_sans-serif;
$font_title: $font_sans-serif;

//
// SIZES
//
$larger: 115%;
$smaller: 85%;

$block_default_width: 15%;
